
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: table;

}

footer {
width: 100%;
background-color:lightblue;
  color: black;

}

ul {
  display: flex;
  align-items: stretch; /* Default */
  justify-content: space-between;
  width: 100%;

  margin: 0;
  padding: 0;

}

li {


}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

